*
{
    box-sizing: border-box;
}
#header 
{
  
width:100%;
 height: 100px ;

}

#numbers>div
{
    text-align:center ;
    margin: 5px 0;
 
}
#numbers
{
    margin: 20px 0;
    background-color: #4b4b4b;
    
}

#tablica
{
    margin-top: 80px;
}

.divche
{
    display: flex;
flex-direction: column;
}


#Name
{
    color: rgb(255, 0, 0);
    background-color: rgb(59, 58, 59);
    height: 100px;
}
#nav>div
{
    color: aqua;
    
}
.img
{
    width: 100px;
    height: 100px;
    float: left;
    background-color: rgb(47, 47, 48);
    padding: 10px;
}
.img img
{
    width: 100%;
    height: 100%;
}

.tablee
{
    margin: 0 auto;
  color: aliceblue;  
  border: 3px solid grey;

}
.tablee td
{
   
    text-align:center;
    color:aliceblue;
    border:3px solid grey;
}

.divchik>div
{
    margin: 4px auto;
}
.forma 
{
    width: 600px;
    margin: 4px auto;
    padding: 3px 0;
    background-color: rgb(57, 57, 57);
    
}
.content
{
max-width: 960px;
}
#end
{
    text-align: center;
}
.tablee tr:nth-child(even)
{
    background-color: #000000
}
.tablee tr:nth-child(odd)
{
    background-color: #dfdfdf;
}
#nav
{
    background-color: rgb(49, 49, 49);
    margin-top: 10px;

}


@media screen and (orientation:landscape) {
    .flexx
    {
        display: flex;
        flex-direction: column;
    }
  .img
  {
    width:100px;
  }
    #nav
    {
        order: -1;
        
    }
    #nav div
    {
        margin: 0 50px ;
        display:inline-block ;
    }
    .change
    {
        flex-direction: column;
        display: flex;
    }    
    .wbfirst
    {
        order: -1;
    }
    #tablica
    {
        margin: 0;
    }
}